# Node.js
node_modules/
npm-debug.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Log files
*.log

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Backup files
*~
*.bak
*.tmp

# Environment files
.env
